/* Custom Settings */
$primary-color: #333;
$secondary-color: #666;
$light-color: #555;
$alert-red: #c60f13;
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
a {
	color: #333;
}
p {
	font-size: rem-calc(18);
	line-height: rem-calc(28);
	color: #333;
}
h1 {
	font-size: rem-calc(40);
	line-height: rem-calc(46);
}
.contact h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #252525;
	font-size: rem-calc(24);
	margin-bottom: 15px;
	margin-top: 20px;
}
.contact h2:first-child {
	margin-top: 0;
}
.contact p {
	margin-bottom: 5px;
}
hr {
	border: solid #dddddd;
	border-width: 5px 0 0;
	clear: both;
	margin: 0.25rem 0 1.1875rem;
	height: 0;
}
blockquote, blockquote p {
	color: #333;
	font-size: rem-calc(18);
}
blockquote {
	border-left: 10px solid #eee;
}
/*
========================================================================== 
Home and Hero
========================================================================== 
*/
.orbit-timer {
	display: none;
}
.orbit-container .orbit-slides-container img {
	display: inline;
}
#homepage-hero {
	background-color: #000;
	padding: rem-calc(50) 0;
	margin: auto;
}
.title-banner {
	background-color: #252525;
	padding: 30px;
	margin-bottom: 30px;
}
.title-banner h1 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: rem-calc(40);
	text-transform: uppercase;
}
.left-small {
	background-color: #333;
	left: 30px;
}
.tab-bar {
	background: none;
}
.orbit-container .orbit-prev>span {
	background: url(../assets/arrow-left.svg) no-repeat center;
	width: 40px;
	height: 50px;
	border-right-style: none;
	border-color: none;
	border-right-color: none;
}
.orbit-container .orbit-next>span {
	background: url(../assets/arrow-right.svg) no-repeat center;
	width: 40px;
	height: 50px;
	margin-left: -20px;
	border-color: none;
	border-left-style: none;
	border-left-color: none;
}
.orbit-container .orbit-prev, .orbit-container .orbit-next {
	width: 40px;
}
.panel {
	padding: 35px 20px;
}

/*
========================================================================== 
Page Styles
========================================================================== 
*/
.entry-content h3 {
	margin-top: 30px;
}
.entry-content h3:first-child {
	margin-top: 0px;
}
.page-container {
	margin-bottom: 50px;
}
/*
========================================================================== 
Header and Navigation
========================================================================== 
*/
.top-bar-section ul li>a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #252525;
	font-size: rem-calc(18);
}
// Center Top Bar
nav.top-bar {
	text-align:center;
}
section.top-bar-section {
	display: inline-block;
}
// ----------
nav.top-bar {
	border-top: 2px solid #bfbfbf;
	border-bottom: 2px solid #bfbfbf;
	height: 60px;
}
.top-bar-bg {
	border-top: 2px solid #bfbfbf;
	border-bottom: 2px solid #bfbfbf;
	padding: 2px 0 2px;
	margin-bottom: 25px;
}
.top-bar-section ul {
	margin: 5px;
}
.top-bar-container, .tab-bar {
	margin-bottom: 0;
}
.logo {
	padding: 45px 0 35px;
}
p.tagline {
	margin: 20px 0 0;
}
/*
========================================================================== 
Footer Styles
========================================================================== 
*/
h2.contact-text a {
	color: #fff;
}
.footer-address {
	background-color: #e3e3e3;
	width: 100%;
	float: left;
	padding: 10% 0 10%;
}
footer h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #252525;
	font-size: rem-calc(24);
}
.bottom-bar {
	background-color: #000;
	width: 100%;
	float: left;
	padding-top: 15px;
}
.bottom-bar .button {
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding: 10px 15px 10px;
}
.social-media {
	margin-top: 1.4%;
}
.social-media h2 {
	color: #fff;
	font-size: rem-calc(18);
	display: inline;
	padding-top: 5px;
}
ul.social-media-icon {
	display: inline;
	position: relative;
	left: 5px;
	top: -4px;
}
.social-media-icon li {
	display: inline;
	padding: 0 5px 0;
}
.social-media-icon img {
    opacity: 0.5;
}
.social-media-icon a:hover img {
    opacity: 1;
}
.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}
.icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}
.plus {
	background: url(../assets/plus-black.svg) no-repeat center;
	width: 18px;
	height: 18px;
	margin: 0 10px;
	display: inline-block;
	margin-bottom: 2px;
}

/*
========================================================================== 
Form Styles
========================================================================== 
*/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	box-shadow: none;
	border-radius: 5px;
	font-size: 1.25em;
}

input[type="submit"] {
	-webkit-appearance: none;
	border: none;
	padding: 20px;
	color: white;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	font-size: rem-calc(18);
}
input[type="submit"]:hover {
	background-color: #333 !important;
	color: #fff;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	background: #FFFFFF;
	border: 2px solid $light-color;
	outline: none;
	box-shadow: none;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.wpcf7-not-valid {
	border: 2px solid $alert-red;
}
span.wpcf7-form-control-wrap {
	width: 100%;
}
span.wpcf7-not-valid-tip {
	color: $alert-red !important;
}

div.wpcf7-validation-errors {
	border: 2px solid $alert-red !important;
	background-color: $alert-red;
	color: #fff;
}
div.wpcf7-response-output {
margin: 2em 0 2em !important;
padding: 0.8em 1em !important;
}
:focus {
	outline: -webkit-focus-ring-color auto 0px;
}
input[type="submit"]:hover{
    background-color: $light-color;
}

/*
========================================================================== 
MISC
========================================================================== 
*/

.page-link.button {
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	font-size: rem-calc(18);
	text-transform: uppercase;
}
a.page-link.button:hover {
	background-color: #333;
	color: #fff;
}
.giftcard-feature .page-link.button {
	width: 100%;
	margin: 20px 0;
}
/* OFF Canvas Nav */
ul li ul, ul li ol {
	margin-left: 0;
}
.left-off-canvas-menu {
	background-color: #000;
}
.feature-link.button {
	background-color: #dddddd;
	color: #333;
	font-size: rem-calc(14);
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	width: 100%;
}
.featured-buttons {
	margin: 0px 10px 10px;
}
.featured-buttons .columns {
	padding: 0;
}
.featured-buttons img {
	vertical-align: sub;
	padding-right: 5px;
}
.slider-container {
	max-width: 900px;
	margin: auto;
}
.variable-width .slick-slide img {
	padding: 5px;
}
.slick-prev:before, .slick-next:before {
	content: none;
}
.slick-prev, .slick-prev:hover, .slick-prev:focus {
	background: url(../assets/arrow-left.svg) no-repeat center;
	width: 40px;
	height: 50px;
	left: -60px;
}
.slick-next, .slick-next:hover, .slick-next:focus {
	background: url(../assets/arrow-right.svg) no-repeat center;
	width: 40px;
	height: 50px;
	right: -60px;
}
.slick-slide {
	text-align: center;
}
a[href^=tel] {
text-decoration:inherit;
color: inherit;
}